@media screen and (max-width: 849px) {
	table {
		width: min-content;
		min-width: 2000px;
		max-width: 3000px;
	}
	table thead tr th,
	table thead tr td {
		width: min-content;
		min-width: 50px;
		max-width: 300px;
	}
	table thead tr,
	table tbody tr {
		width: min-content;
	}
	
	/*所有儲存格*/
	td.text-center {
		vertical-align: middle;
		padding-top: 0px;
		padding-bottom: 0px;
		white-space: nowrap;  		/*禁止td換行*/
		text-overflow: ellipsis;	/*將顯示不完的以...顯示*/
	}
	
	/*====== 滾動 =============================*/
	table thead td:first-child,
	table tbody td:first-child,
	table thead th:first-child,
	table tbody th:first-child {
		position: sticky;
		position: -webkit-sticky;
		left: 0;    /* 首行永遠固定於左 */
		z-index: 1;
		background-color: #c1c4f8;
	}
	table thead td:nth-child(2),
	table tbody td:nth-child(2),
	table thead th:nth-child(2),
	table tbody th:nth-child(2) {
		position: sticky;
		position: -webkit-sticky;
		left: 0;    /* 首行永遠固定於左 */
		z-index: 2;
		background-color: #f7d999;
	}
	/*輸入 那一列*/
	tr.table-active td:nth-child(2) {
		position: sticky;
		position: -webkit-sticky;
		left: 0;    /* 首行永遠固定於左 */
		z-index: 1;
		background-color: #c1c4f8;
	}
	tr.table-active td:nth-child(3) {
		position: sticky;
		position: -webkit-sticky;
		left: 0;    /* 首行永遠固定於左 */
		z-index: 2;
		min-width: 150px;	/* 調寬名稱 */
		background-color: #f7d999;
	}
	table thead tr th {
		position: sticky;
		top: 0; /* 列首永遠固定於上 */
		background-color: #f7d999;
	}

	/*
	table表格，讓thead固定，tbody有滾動條，關鍵是都對齊的純css寫法。
	table加滾動條，很實用，也很簡單有效，收藏了。裡面有一個css2裡的命令是我沒用過的也是這裡面關鍵的：table-layout:fixed;

	table thead, tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
	}

	table thead {
	width: calc( 100% - 1em )
	}
	*/
	/*====== 滾動 End =============================*/

	* {
		font-family: sans-serif;
		font-size: 20px;	/* 加大字型 */
	}
	.box {
		clear: both;
		padding: 0;
		min-height: 300px;
		height: 40vh;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
	@font-face {
		font-family: FontAwesome;
		src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff);
	}
	.fa {
		font-family: FontAwesome;
	}
}

